# broadcast
BROADCAST_CHANNEL_USER="opal"
BROADCAST_CHANNEL_PASSWORD="password"
BROADCAST_CHANNEL_DATABASE="opal"

# opal-server
OPAL_BROADCAST_URI="postgres://broadcast-channel:5432/opal"
UVICORN_NUM_WORKERS="4"
OPAL_POLICY_REPO_URL="git@github.com:nil1729/trino-opa-policy.git"
OPAL_POLICY_REPO_MAIN_BRANCH="master"
OPAL_POLICY_REPO_SSH_KEY=
OPAL_POLICY_REPO_POLLING_INTERVAL="5"
OPAL_AUTH_PRIVATE_KEY=
OPAL_AUTH_PUBLIC_KEY=
OPAL_AUTH_MASTER_TOKEN=
OPAL_DATA_CONFIG_SOURCES={"config":{"entries":[{"url":"http://172.16.0.153:5050/api/v1/opal/users/1","topics":["trino-users-1"],"dst_path":"/external"},{"url":"http://172.16.0.153:5050/api/v1/opal/users/2","topics":["trino-users-2"],"dst_path":"/external"},{"url":"http://172.16.0.153:5050/api/v1/opal/groups/1","topics":["trino-groups-1"],"dst_path":"/experimental/external"},{"url":"http://172.16.0.153:5050/api/v1/opal/groups/2","topics":["trino-groups-2"],"dst_path":"/experimental/external"}]}}

# opal-client
OPAL_SERVER_URL="http://172.16.0.154:7002"
OPAL_DATA_TOPICS_1="trino-users-1,trino-groups-1"
OPAL_DATA_TOPICS_2="trino-users-2,trino-groups-2"

# rbac postgres db
RBAC_DB_USER="rbac"
RBAC_DB_PASSWORD="password"
RBAC_DB_DATABASE="rbac"

# rbac backend
RBAC_PORT="5050"

# networks
INTERNAL_SUBNET="172.16.0.0/24"
OPAL_SERVER_IP="172.16.0.154"
RBAC_BACKEND_IP="172.16.0.153"
